[submodule "services/applicant-service"]
	path = services/applicant-service
	url = https://github.com/Darzu-Catalin/pad-team-17-applicant-service
[submodule "services/credential-service"]
	path = services/credential-service
	url = https://github.com/Darzu-Catalin/pad-team-17-credential-service
[submodule "services/server-rules-service"]
	path = services/server-rules-service
	url = https://github.com/AnastasiaT18/pad-team-17-server-rules-service
[submodule "services/university-record-service"]
	path = services/university-record-service
	url = https://github.com/AnastasiaT18/pad-team-17-university-record-service
[submodule "services/moderation-service"]
	path = services/moderation-service
	url = https://github.com/DannaCojocari/moderation-service
[submodule "services/discord-dms-service"]
	path = services/discord-dms-service
	url = https://github.com/DannaCojocari/discord-dms-service
